@import "../../../core/res/styles/variables.scss";

.flowers-grid-item {
  height: 350px;
  width: 280px;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0%,
    rgba(0, 0, 0, 0.7) 89.5%
  );
  border-radius: 3px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: $app-white-color;
  background-repeat: no-repeat;
  background-size: 280px 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  @media (max-width: $mobile-resolution-max-width) {
    width: 174px;
    height: 220px;
    margin-right: 5px;
    background-size: cover;
    margin-bottom: 5px;
  }

  &:hover {
    transform: scale(1.01);
    transition: transform 0.1s; /* Animation */
  }
  &__favourite {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background: red;
    border-radius: 50px;
    background: $app-white-color;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    &.favorite {
      background: linear-gradient(270deg, #ecbcb3 0%, #eaa79e 100%);
      box-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);
    }
  }
  &__name {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 15px;
    text-align: center;
    color: $app-white-color;
    margin-bottom: 10px;
  }
  &__latin-name {
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: $app-white-color;
    mix-blend-mode: normal;
    opacity: 0.7;
  }
  &__sightings {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    min-width: 103px;
    height: 30px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    &.favorite {
      background: linear-gradient(270deg, #ecbcb3 0%, #eaa79e 100%);
      box-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);
      border-radius: 20px;
    }
    &__count {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
      text-align: center;
      color: $app-white-color;
    }
  }
}
