@import "../../../core/res/styles/variables.scss";

.user-profile-modal {
  .modal-dialog {
    width: 600px;
    height: 610px;
    @media (max-width: $mobile-resolution-max-width) {
      width: 100%;
    }
  }
  .modal-header {
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
