html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Ubuntu;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root,
.App {
  height: 100%;
}

.content-container {
  display: flex;
  justify-content: center;
  height: 100%;
  background: white;
}

.app-content {
  max-width: 1220px;
  width: 100%;
  height: 100%;
}
