// Colors
$app-white-color: #ffffff;
$app-black-color: #334144;
$app-grey-color: #949ea0;
$app-orange-color: #eaa79e;

$form-error-color: #dc5d45;

$input-background: #f5f6f7;
$input-border: 1px solid #dfe5ea;
// Screen sizes
$mobile-resolution-max-width: 768px;
$desktop-resolution-max-width: 1280px;
