@import "../../../res/styles/variables.scss";

.login-form {
  padding: 30px;
  height: 100%;
  @media (max-width: $mobile-resolution-max-width) {
    padding-top: 30%;
  }
  .login-button {
    width: 100%;
    margin: 0px auto;
  }
  .form-title {
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: $app-black-color;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
