@import "../../../res/styles/variables.scss";

.signup-modal {
  .modal-dialog {
    width: 440px;
    @media (max-width: $mobile-resolution-max-width) {
      width: 100%;
    }
  }

  .modal-header,
  .modal-body,
  .modal-footer {
    border: none;
  }

  &__error {
    color: $form-error-color;
    margin-top: 10px;
    text-align: center;
    line-height: normal;
  }
}
