@import "../../../res//styles/variables.scss";

.flowers-search {
  position: relative;
  max-width: 600px;
  width: 100%;
  display: flex;
  height: 70px;
  @media (max-width: $mobile-resolution-max-width) {
    width: 85%;
  }
  img {
    position: absolute;
    right: 20px;
    top: 26px;
  }
  input {
    height: 70px;
    position: relative;
    width: 100%;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    border: none;
    padding-left: 10px;
    padding-right: 45px;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    color: $app-black-color;
  }
  input::placeholder {
    color: $app-grey-color;
  }

  .spinner-border {
    position: absolute;
    right: 18px;
    top: 18px;
  }
}
