@import "../../../res/styles/variables.scss";

.error-boundary {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $app-black-color;
}
